
  <div class="row colored">
      <div class="col-lg-offset-5 col-lg-2 col-md-offset-5 col-md-2" style="text-align:center;">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <form role="form" ng-submit='frmForgotPassword()'>
          <fieldset>
              <div class="form-group has-success has-feedback">
                <input type="email"
                       class="form-control"
                       placeholder="Enter email"
                       ng-model="userEmail" required>
              </div>
          </fieldset>

          <button type="submit" class="btn btn-primary btn-block">
            Reset Password
          </button>

        </form>
    </div>
</div>



